<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WdlConfigurator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WdlConfigurator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WdlConfigurator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <WdlConfigurator.My.MySettings>
            <setting name="template1" serializeAs="String">
                <value>All dials^wdlconfig_all_dials.xml</value>
            </setting>
            <setting name="template2" serializeAs="String">
                <value>Large temperature, not indoor^wdlconfig_big_temp_no_indoors.xml</value>
            </setting>
            <setting name="template3" serializeAs="String">
                <value>Big temperature, small heat^wdlconfig_big_temp_small_heat.xml</value>
            </setting>
            <setting name="template4" serializeAs="String">
                <value>Four graphs v1^wdlconfig_four_graphs2.xml</value>
            </setting>
            <setting name="template5" serializeAs="String">
                <value>Four graphs v2^wdlconfig_four_graphs.xml</value>
            </setting>
            <setting name="template6" serializeAs="String">
                <value>Linear meters^wdlconfig_linear_vus.xml</value>
            </setting>
            <setting name="template7" serializeAs="String">
                <value>Dew meters^wdlconfig_meters_dew.xml</value>
            </setting>
            <setting name="template8" serializeAs="String">
                <value>No UV^wdlconfig_no_uv.xml</value>
            </setting>
            <setting name="template9" serializeAs="String">
                <value>No UV, indoor dials^wdlconfig_no_uv_indoor.xml</value>
            </setting>
            <setting name="template10" serializeAs="String">
                <value>All temperature^wdlconfig_temp.xml</value>
            </setting>
            <setting name="template11" serializeAs="String">
                <value>Temperature gauges^wdlconfig_temp_gauges.xml</value>
            </setting>
            <setting name="template12" serializeAs="String">
                <value>Upside down^wdlconfig_upside_down.xml</value>
            </setting>
        </WdlConfigurator.My.MySettings>
        <WdlConfigurator.Settings1>
            <setting name="instWind" serializeAs="String">
                <value>gust</value>
            </setting>
        </WdlConfigurator.Settings1>
    </applicationSettings>
    <userSettings>
        <WdlConfigurator.My.MySettings>
            <setting name="rn1" serializeAs="String">
                <value />
            </setting>
            <setting name="rn2" serializeAs="String">
                <value />
            </setting>
            <setting name="rn3" serializeAs="String">
                <value />
            </setting>
            <setting name="rn4" serializeAs="String">
                <value />
            </setting>
            <setting name="rn5" serializeAs="String">
                <value />
            </setting>
            <setting name="rn6" serializeAs="String">
                <value />
            </setting>
            <setting name="rn7" serializeAs="String">
                <value />
            </setting>
            <setting name="rn8" serializeAs="String">
                <value />
            </setting>
            <setting name="rn9" serializeAs="String">
                <value />
            </setting>
            <setting name="rn10" serializeAs="String">
                <value />
            </setting>
            <setting name="settingsValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateLastCheckDate" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFileOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFileSave" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpLogLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1LocalDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1RemoteDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1Transfer" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpc1ProxyType" serializeAs="String">
                <value />
            </setting>
            <setting name="encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="webLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="tabOpen" serializeAs="String">
                <value />
            </setting>
        </WdlConfigurator.My.MySettings>
    </userSettings>
</configuration>
